body {
  padding-top: 25px;
  margin: auto auto;
  text-align: center;
    }
img {
  width: 30%;
}
.navigation {
  background-color: #2b2b32;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  font-size: large;
  color: #fff;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  /*text-decoration: none;*/
  margin: 10px;
}
header {
  margin: 0px;
}
a {
  color: #fff;
}
.itemBox {
  border-radius: 3px;
  padding: 15px 0;
}
.bgImage {
  background-image: url('../images/piShelf.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
  margin: 0px;
}
.container-fluid {
  background-color: #e4e4e4;
  border-radius: 3px;
}
.row {
  margin-right: -30px;
  margin-left: -30px;
}
.col-sm-4 {
  padding-right: -30px;
  padding-left: -30px;
}
